*{
    margin: 0;
    padding: 0;
}

.background-image{
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

#logo{
    position: absolute;
    right: 579px;
    top: 444px;
}

#redbery{
    position: absolute;
    width: 236px;
    left: 70px;
    top: 25px;
}


#hr{
    position: absolute;
    width: 1780px;
    top: 103px;
    left: 70px;
}

#index-btn{
    position: absolute;
    width: 464px;
    height: 60px;
    left: calc(50% - 464px/2);
    top: 513px;

    
    background: #1A1A1A;
    border-radius: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

#index-btn:hover{
    cursor: pointer;
}